{% extends 'base.html' %}
{% load user_methods %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="mb-3">
                <h5>Driver:</h5>
                {% include 'users/includes/profile.html' with profile=trip.driver %}
            </div>

            <div class="mb-3">
                <h5>Customer:</h5>
                {% include 'users/includes/profile.html' with profile=trip.order.customer %}
            </div>

        </div>

        <div class="col-lg-8">

            <div class="mb-3">
                <h5>Trip:</h5>
                {% include 'trips/includes/trip.html' with trip=trip %}
            </div>

            {% has_perm 'orders.view_order' as can_view_order %}
            {% if can_view_order or trip.driver == user or trip.order.driver == user %}
                <div class="mb-3">
                    <h5>Order:</h5>
                    {% include 'orders/includes/order.html' with order=trip.order %}
                </div>
            {% endif %}

        </div>
        
{% endblock content %}