{% extends 'sidebar_base.html' %}
{% load crispy_forms_tags %}
{% load user_methods %}

{% block title %}List of trips{% endblock title %}

{% block sidebar %}
    <form method="get">

        {{ filter.form|crispy }}

        <div class="row">
            <div class="col"><a class="btn btn-outline-secondary w-100" href="{% url 'orders:list' %}">Reset</a></div>
            <div class="col"><button class="btn btn-primary w-100" type="submit">Apply</button></div>
        </div>

    </form>
{% endblock sidebar %}

{% block main %}
    {% comment %} // TODO: To get count from context data {% endcomment %}
    {% with object_list.count as trips_count %}
        <h3 class="text-muted">
            {% if trips_count > 0 %}
                {{ trips_count }} trip{{ trips_count|pluralize }} found
            {% else %}
                No trips are found
            {% endif %}
        </h3>
    {% endwith %}

    <div class="row row-cols-2">
        {% for trip in filter.qs  %}
            <div class="col mt-3">
                {% include 'trips/includes/trip.html' with trip=trip %}
            </div>
        {% endfor %}
    </div>
{% endblock main %}