{% extends 'base.html' %}
{% load user_methods %}

{% block title %}List of trips{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="d-flex justify-content-between align-items-end">
        {% comment %} // TODO: To get count from context data {% endcomment %}
        {% with object_list.count as trips_count %}
            <h3 class="text-muted">
                {% if trips_count > 0 %}
                    {{ trips_count }} trip{{ trips_count|pluralize }} found
                {% else %}
                    No trips are found
                {% endif %}
            </h3>
        {% endwith %}

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterForm" aria-expanded="false" aria-controls="filterForm">
            Filter
        </button>
    </div>
    
    <div class="collapse" id="filterForm">
        <form method="get">

            {% has_perm  'trips.view_trip' as can_view_trip %}
            {% if can_view_trip %}
                <div class="my-1">
                    {% include 'commons/forms/input.html' with field=filter.form.driver icon="bi bi-people-fill" %}
                </div>
            {% endif %}
            
            <div class="row my-1">
                <div class="col">
                    {% include 'commons/forms/fieldset.html' with field=filter.form.rating %}
                </div>
                <div class="col">
                    {% include 'commons/forms/fieldset.html' with field=filter.form.tip %}
                </div>
            </div>

            <div class="row my-1">
                <div class="col">
                    {% include 'commons/forms/fieldset.html' with field=filter.form.is_completed has_options=True %}
                </div>
                <div class="col">
                    {% include 'commons/forms/fieldset.html' with field=filter.form.has_report has_options=True %}
                </div>
            </div>
            
            <hr class="hr">

            <div class=" my-1">
                {% include 'commons/forms/input.html' with field=filter.form.ordering icon="bi bi-arrow-down-up" %}
            </div>

            <div class="row my-3">
                <div class="col"></div>
                <div class="col row">
                    <div class="col"><a class="btn btn-outline-secondary w-100" href="{% url 'trips:list' %}">Reset</a></div>
                    <div class="col"><button class="btn btn-primary w-100" type="submit">Apply</button></div>
                </div>
            </div>

        </form>
    </div>

    <div class="row row-cols-2">
        {% for trip in filter.qs  %}
            <div class="col mt-3">
                {% include 'trips/includes/trip.html' with trip=trip %}
            </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}