{% extends 'base.html' %}
{% load user_methods %}

{% block title %}{{ order.start }} order{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="mb-3">
                {% include 'users/includes/profile.html' with profile=order.customer %}
            </div>

            {% if not order.is_open  %}
                {% has_perm  'trips.view_trip' as can_view_trip %}
                {% if can_view_trip or order.customer == user %}
                    <a class="btn btn-outline-primary w-100 mb-4" href="{{ order.trip.get_absolute_url }}">See trip</a>
                {% endif %}
            {% endif %}

        </div>

        <div class="col-lg-8">
          {% include 'orders/includes/order.html' with order=order %}
        </div>
    </div>
</div>
{% endblock content %}