{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 80vh;">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            {% with account.user as user %}
            {% for acc in user.accounts %}
                <li class="nav-item">
                    <a class="nav-link" href="{{acc.get_absolute_url }}">{{ acc.model_name|title }}</a>
                </li>
            {% endfor %}
        {% endwith %}
        </ul>
    </div>
    <img src="{{ account.user.image.url }}" alt="{{ account.user.image.url }}">
    <div class="card-body">
       <div class="card-title d-flex justify-content-between">
            <h5>{{ account.user.full_name }}</h5>
            {% if user == account.user %}
                <a class="btn btn-primary" href="{% url 'my_auth:update' %}">Edit</a>
            {% endif %}
       </div>
        <div class="card-subtitle text-muted">
        {% with account.joined_for as joined_for %}
            {% if account.job_title %}
                {{ account.job_title }} for {{ joined_for }} days
            {% else %}
                With us for {{ joined_for }} days
            {% endif %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}