{% extends 'base.html' %}

{% load utils %}
{% load user_methods %}

{% block title %}{{ profile.full_name }}'s profile{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">

            <div class="mb-4">
                {% include 'users/includes/profile.html' with profile=profile %}
            </div>

            {% if profile.rating %}
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div class="d-flex justify-content-evenly mb-3">
                            {% include 'includes/rating.html' with rating=profile.rating %}
                        </div>
                        <h6>Average rating in {{ profile.rated_drives.count }} drives</h6>
                    </div>
                </div>
            {% endif %}
            
            {% if user == profile %}
                <a class="btn btn-outline-danger w-100 mb-4" href="{% url 'users:logout' %}">Logout</a>
            {% endif %}
        </div>

        <div class="col-lg-8">
            {% if profile.trips.count > 0 %}
                <h5>Recent trips:</h5>
                
                {% for trip in profile.recent_trips %}
                    <div class="mb-2">
                        {% include 'trips/includes/trip.html' with trip=trip %}
                    </div>
                {% endfor %}

                {% if profile == user %}
                <a class="btn btn-outline-primary w-100 mt-3" href="{% url 'trips:list' %}">Show all</a>
                {% endif %}

            {% else %}
                {% if profile.orders.count > 0 %}
                    <h5>User made {{ profile.orders.count }} order{{ profile.orders.count|pluralize }}</h5>
                {% else %}
                    <h5>User has no trips</h5>
                {% endif %}
            {% endif %}    
        </div>

    </div>
</div>
{% endblock content %}