{% extends 'base.html' %}

{% load rating %}
{% load utils %}
{% load user_methods %}

{% block title %}{{ profile.full_name }}{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">

            <div class="mb-4">
                {% include 'users/includes/profile.html' with profile=profile %}
            </div>

            {% if profile.rating %}
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div class="d-flex justify-content-evenly mb-3">
                            {% stars profile.rating as rating %}
                            {% for star in rating %}
                                {{ star|safe }}
                            {% endfor %}
                        </div>
                        <h6>Average rating in {{ profile.rated_drives.count }} drives</h6>
                    </div>
                </div>
            {% endif %}
            
            {% if user == profile %}
                <a class="btn btn-outline-danger w-100 mb-4" href="{% url 'users:logout' %}">Logout</a>
            {% endif %}
        </div>

        <div class="col-lg-8">
            {% if profile.trips.count > 0 %}
                <h5>Recent trips:</h5>
                {% for trip in profile.recent_trips %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">
                                <a class="plain-text" href="{{ trip.driver.get_absolute_url }}">
                                    <i class="bi bi-car-front-fill"></i>
                                    {{ trip.driver }}
                                </a>
                                <a class="plain-text" href="{{ trip.order.customer.get_absolute_url }}">
                                    <i class="bi bi-person-fill"></i>
                                    {{ trip.order.customer }}
                                </a>
                            </h5>
                            {% if trip.is_completed %}
                                <div class="d-flex justify-content-between">
                                    <p>
                                        <i class="bi bi-stopwatch"></i>
                                        Completed in 
                                        {{ trip.duration|delta:'{H}:{m}:{s}' }}
                                    </p>
                                    {% if trip.rating %}
                                        <p>
                                            {% stars trip.rating as rating %}
                                            {% for star in rating %}
                                                {{ star|safe }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            {% else %}
                                <p>
                                    <i class="bi bi-x-circle"></i>
                                    Haven't been completed
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if profile == user %}
                <a class="btn btn-outline-primary w-100" href="{% url 'trips:list' %}">Show all</a>
                {% endif %}
            {% else %}
                <h5>User has no trips</h5>
            {% endif %}    
        </div>

    </div>
</div>
{% endblock content %}